/build/
/Ordenar3numeros/nbproject/private/
/Ordenar3numeros/build/
/masDe120/nbproject/private/
/masDe120/build/
/EjercicioFecha01/nbproject/private/
/EjercicioFecha01/build/
/SumaSwitch/nbproject/private/
/SumaSwitch/build/
/Menu/nbproject/private/
/Menu/build/
/EcSegundoGrado/nbproject/private/
/EcSegundoGrado/build/
/For1/nbproject/private/
/For1/build/
/For1/dist/
