/build/
/Ordenar3numeros/nbproject/private/
/Ordenar3numeros/build/
/masDe120/nbproject/private/
/masDe120/build/
/EjercicioFecha01/nbproject/private/
/EjercicioFecha01/build/
/SumaSwitch/nbproject/private/
/SumaSwitch/build/
/Menu/nbproject/private/
/Menu/build/
/EcSegundoGrado/nbproject/private/
/EcSegundoGrado/build/
/For1/nbproject/private/
/For1/build/
/For1/dist/
/OperadoresIncrementalesYDecrementales/nbproject/private/
/OperadoresIncrementalesYDecrementales/build/
/EjercicioPrismas/nbproject/private/
/EjercicioPrismas/build/
/CaracteresAscii/nbproject/private/
/CaracteresAscii/build/
/Factorial/nbproject/private/
/Factorial/build/
/Examen20-04-2023/nbproject/private/
/Examen20-04-2023/build/
